.header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}

.logo {
  margin: 2rem;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav_list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav_item {
  margin: 2rem 1rem;
}

.nav_link:hover{
  color: hsl(0, 0%, 8%);
}

.arrow-down {
  margin: 0.2rem;
}

.feature-dropdown{
  display: none;  
  padding: 1rem 1.7rem;
  background-color: white;
  color: hsl(0, 0%, 41%);
  border: 1px solid black;
  border-radius: 10px;
}

.feature-dropdown__link{
  display: block;
  margin-top: 0.5rem;
}

.register-section {
  margin: 1rem 2rem;
}

.register-section__login {
  margin-right: 3rem;
}

.register-btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: hsl(0, 0%, 41%);
  background-color: white;
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 15px;
}

.register-btn:hover {
  cursor: pointer;
}

.btn_nav,
.sidenav {
  display: none;
}

@media (max-width: 768px) {
  .header {
    margin: 2rem 1rem 2rem -1rem;
  }

  .nav_list,
  .register-section {
    display: none;
  }

  .btn_nav {
    display: block;
    position: absolute;
    top: 1.7rem;
    right: 0;
    border: none;
    color: hsl(240, 100%, 5%);
  }

  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    border-left: 1px hsl(236, 13%, 42%) solid;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 2rem;
  }

  .sidenav div .mobile_link {
    margin: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: hsl(0, 0%, 41%);
    transition: 0.3s;
  }

  .sidenav .closebtn {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    margin-left: 50px;
    border: none;
    background-color: hsl(36, 100%, 99%);
    color: hsl(240, 100%, 5%);
  }

  .mobile-register {
    margin: 0;
  }

  .mobile-register__link {
    margin: 0 auto;
  }

  .mobile-register__btn {
    padding: 0.8rem 1.5rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    min-width: 9rem;
    color: hsl(0, 0%, 41%);
    background-color: white;
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 15px;
  }
}
